@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap');
*{
    margin:0;
    padding: 0;
 }
 body{
  background-image: linear-gradient(rgb(4 7 108),rgb(1 6 65));
 }
 .logo{
    width: 8%;
    
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
 }
 .icon{
   width:30%;
   align-items: center;
   padding-left: 100px;
   padding-bottom: 12px;
   display: block;
 
 }
 .icon-head{
     align-items: center;
     display: block;
     background: linear-gradient(rgb(238 214 43),rgb(221, 221, 243));  
 }
.header{
   margin: auto;
   display: flex;
   height: auto;
   background: linear-gradient(rgb(238 214 43),rgb(221, 221, 243));  
  /* border: 2px solid black;*/
   text-align: center;
   
}
.heading{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 65px;
    color:#5c0606;
    /*-webkit-text-stroke: 0.5px black;*/
    justify-content: center;
    padding-left:50px;
    letter-spacing: 2px;
    font-weight: 1px;
    padding-top: 12px;
    animation: colorchange 4s infinite ease-in;
}
@keyframes colorchange {
  0%{
    color:black;
  }
  50%{
    color:brown;
  }
  100%{
    black:grey;  }
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    padding-top: 20px;
  }
  .main-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    padding-top: 14px;
  }
  .card {
    width: 20%;
    background: #fff;
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 50px;
    transition: 0.3s;
  }
  
  .card-header {
    text-align: center;
    padding: 40px 10px;
    background: linear-gradient(rgb(238 214 43),rgb(221, 221, 243));
    color:#600303;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
    border-radius: 15px;
  }
  .main-card{
    width: 85%;
    background: rgb(247, 231, 145);
    border: 2px solid black;
    margin-bottom: 50px;
    transition: 0.3s;
    border-radius: 15px;
  }
  .card-body {
    padding: 30px 20px;
    text-align: left;
    font-size: 21px;
    background-color: rgba(240, 240, 240, 0.897);
    font-family: 'Roboto Slab', serif;
    border-radius: 15px;
  }
  .main-header{
    text-align: left;
    padding: 16px 10px;
    background: linear-gradient(rgb(238 214 43),rgb(221, 221, 243));
    color:rgb(43, 18, 18);
    font-family: 'Roboto Slab', serif;
    border-radius: 15px;
    font-weight: 50px;
    letter-spacing: 4px;
  }
  .card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background-color:rgb(8, 8, 8);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    font-family: 'Roboto Slab', serif;
    border-radius: 15px;
  }
  
  .card:hover {
    transform: scale(1.06);
    box-shadow: 0 0 40px -10px rgb(255, 255, 255);
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 3px;
  }
  .btn:hover{
      background-color: rgb(228, 220, 220);
      color:black;
      font-weight: bold;
      font-family: 'PT Sans', sans-serif;
  }
  .background{
    background: linear-gradient(rgb(238 214 43),rgb(221, 221, 243));
    width: 100%;
  }
  .text-footer{
    text-align: center;
    display: flex;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    color:black;
}

.btn1{
  padding: 8px 20px;
  margin-top: 10px;
  margin-right: 7px;
  margin-bottom: 23px;
  background-color: transparent;
  letter-spacing: 2px;
  color:white;
  background-image: linear-gradient(rgb(206, 90, 90),red);
  background-origin: border-box;
  font-weight: bold;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  font-family:'Ubuntu', sans-serif ;
  transition: 0.7s ease-out;
}
.btn1:hover{
  background-image: linear-gradient(rgb(236, 178, 178),pink);
  color: black;
  font-size: large;
  border: 3px solid rgb(231, 108, 108);
  letter-spacing: 6px;
}
@media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
    .heading{
      font-size: 50px;
      padding-bottom: 100px;
      
  }
  .header{
      height: 200px;
      flex-direction: column;
      
  }
  .logo{
    flex-direction: column;
    width: 10%;
    text-align: center;
    padding-left: 186px;
  }

  }
  @media screen and (max-width: 703px) {
    .heading{
        font-size: 80px;
    }
    .header{
        height: 200px;
        flex-direction: column;
    }
    .logo{
      flex-direction: column;
      width: 10%;
      text-align: center;

    }
   
  }
  @media screen and (max-width: 701px) {
    .container {
      width: 100%;
    }
  
    .logo{
      flex-direction: column;
      width: 15%;
      text-align: center;

    }
    .heading{
        font-size: 40px;
        padding-bottom: 100px;
        padding-top: 0px;
        padding-left: 24px;
    }
    .header{
        height: 200px;
        flex-direction: column;
        
        
    }
    
    .card {
      width: 80%;
    }
    
  }
  @media screen and (max-width: 360px){
    .logo{
      flex-direction:column-reverse;
      width: 15%;
      text-align: center;
      padding-left: 158px;
    }
    .heading{
        font-size: 42px;
        padding-bottom: 80px;
        padding-left: 9px;
    }
    .header{
      height: 200px;
      flex-direction: column;
     
      text-align: center;
  }
  
  
  }
